body {
	margin: 0;
	padding: 0;
	background-color: #222f3e;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	padding: 10px;
	color: #f8f8f8;
	background: #14c3c9;
	border: 1px solid #838383;
	outline: none;
	font-size: 18px;
	text-transform: uppercase;
	cursor: pointer;
	border-radius: 5px;
}
